<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="[ProductName]">
					<Component Id="MainComponent" Guid="166EA7A0-B288-49BB-A1CF-7DDF7018C6E4" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>
					</Component>
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Eclipse SCADA Admin Client">
					<Component Id="ApplicationShortcut" Guid="1C3FB379-49BA-4C08-905F-FB1F554B2A8B">
						<Shortcut Id="ApplicationStartMenuShortcut"
						          Name="[ProductName]"
						          Description="The [ProductName]"
						          Target="[#esac.exe]"
						          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        				<RegistryValue Root="HKCU" Key="Software\Microsoft\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
