<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="Eclipse SCADA Admin Client">
					<Component Id="MyComponent" Guid="166EA7A0-B288-49BB-A1CF-7DDF7018C6E4" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
