<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.scada.configuration.component.presentation.eef.ComponentEditorID"
            name="Component Editor (EEF)"
            class="org.eclipse.scada.configuration.component.presentation.ComponentEditor">
         <contentTypeBinding contentTypeId="org.eclipse.scada.configuration.component"/>
      </editor>
   </extension>
</plugin>
