<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scada.core.ui.connection.discoverer">
      <discoverer
            class="org.eclipse.scada.core.ui.connection.discoverer.osgi.ServiceDiscoverer"
            id="org.eclipse.scada.core.ui.connection.discoverer.osgi.ServiceDiscoverer"
            name="%discoverer.osgi.name">
      </discoverer>
   </extension>

</plugin>
