<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.scada.da.client.signalGenerator" name="generator" schema="schema/org.eclipse.scada.da.client.signalGenerator.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.scada.da.ui.category"
            class="org.eclipse.scada.da.client.signalgenerator.GeneratorView"
            icon="icons/thread_obj.gif"
            id="org.eclipse.scada.da.client.signalGenerator.GeneratorView"
            name="%view.signalGenerator.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.scada.da.client.signalGenerator.popupMenus.oc1"
            objectClass="org.eclipse.scada.da.ui.connection.data.DataItemHolder">
         <action
               class="org.eclipse.scada.da.client.signalgenerator.action.ShowGenerator"
               enablesFor="+"
               icon="icons/thread_obj.gif"
               id="org.eclipse.scada.da.client.test.actions.ShowGenerator"
               label="%action.signalGenerator.name"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.scada.da.client.signalGenerator.objectContribution1"
            objectClass="org.eclipse.scada.da.ui.widgets.realtime.ListEntry">
         <action
               class="org.eclipse.scada.da.client.signalgenerator.action.ShowGenerator"
               enablesFor="+"
               icon="icons/thread_obj.gif"
               id="org.eclipse.scada.da.client.test.actions.ShowGenerator"
               label="%action.signalGenerator.name"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.scada.da.client.signalGenerator">
      <generatorPage
            class="org.eclipse.scada.da.client.signalgenerator.page.BooleanGeneratorPage"
            label="Boolean"
            sortKey="20">
      </generatorPage>
      <generatorPage
            class="org.eclipse.scada.da.client.signalgenerator.page.AnalogPage"
            label="Analog"
            sortKey="30">
      </generatorPage>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.scada.da.ui.category"
            id="org.eclipse.scada.da.client.signalGenerator.commands.OpenSignalGeneratorView"
            name="Open Signal Generator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scada.da.client.signalgenerator.commands.OpenSignalGenerator"
            commandId="org.eclipse.scada.da.client.signalGenerator.commands.OpenSignalGeneratorView">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.eclipse.scada.da.ui.connection.data.Item">
                     </instanceof>
                     <adapt
                           type="org.eclipse.scada.da.ui.connection.data.Item">
                     </adapt>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.scada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.eclipse.scada.da.client.signalGenerator.commands.OpenSignalGeneratorView"
               label="Open Signal Generator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.eclipse.scada.da.ui.connection.data.Item">
                     </instanceof>
                     <adapt
                           type="org.eclipse.scada.da.ui.connection.data.Item">
                     </adapt></or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
