Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: amd64
Depends: org.eclipse.scada
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse SCADA P2 Director
Distribution: development