<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.scada.ca.ui.connection.navigator.ConnectionContentProvider"
            id="org.eclipse.scada.ca.ui.connection.provider"
            labelProvider="org.eclipse.scada.ca.ui.connection.navigator.ConnectionLabelProvider"
            name="CA Connections"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.scada.core.ui.connection.data.ConnectionHolder">
                  </instanceof>
                  <test
                        property="org.eclipse.scada.core.ui.connection.data.ConnectionHolder.interfaceName"
                        value="ca">
                  </test>
               </and>
               <instanceof
                     value="org.eclipse.scada.ca.ui.connection.data.FactoryInformationBean">
               </instanceof>
			   <instanceof
                     value="org.eclipse.scada.ca.ui.connection.data.ConfigurationInformationBean">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.scada.ca.ui.connection.data.FactoryInformationBean">
               </instanceof>
               <instanceof
                     value="org.eclipse.scada.ca.ui.connection.data.ConfigurationInformationBean">
               </instanceof>
            </or></possibleChildren>
         <actionProvider
               class="org.eclipse.scada.ca.ui.connection.CommonActionProvider"
               priority="high">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>


</plugin>
