<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.scada.da.ui?after=additions">
         <command
               commandId="org.eclipse.scada.da.server.ui.launcher.StartExporter"
               style="push">
	<visibleWhen
                  checkEnabled="false">
    <reference
          definitionId="org.eclipse.scada.da.server.ui.launcher.exporter">
    </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scada.da.server.ui.launcher.driver.StartExporter"
            commandId="org.eclipse.scada.da.server.ui.launcher.StartExporter">
            
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.scada.da.ui.category"
            id="org.eclipse.scada.da.server.ui.launcher.StartExporter"
            name="Start Exporter">

      </command>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.scada.da.server.ui.launcher.driver.DriverLaunchDelegate"
            id="org.eclipse.scada.da.server.ui.launcher.Driver"
            modes="run"
            name="SCADA Driver"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.scada.da.server.ui.launcher.driver.DriverTabGroup"
            description="Driver launch configuration"
            id="org.eclipse.scada.da.server.ui.launcher.driverTabGroup"
            type="org.eclipse.scada.da.server.ui.launcher.Driver">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.scada.da.server.ui.launcher.exporter">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="xml">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.scada.da.server.ui.launcher.profile">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="xml">
                  </test>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="org.eclipse.scada.configuration.osgi.profile">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.scada.da.server.ui.launcher.Driver"
            icon="icons/launcher.gif"
            id="org.eclipse.scada.da.server.ui.launcher.Driver">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.scada.da.server.ui.launcher.app.LaunchShortcut"
            icon="icons/bundle_obj.gif"
            id="org.eclipse.scada.da.server.ui.launcher.app"
            label="Equinox Application Profile"
            modes="run">
         <configurationType
               id="org.eclipse.pde.ui.EquinoxLauncher">
         </configurationType>
         <description
               description="Run an equinox based application profile"
               mode="run">
         </description>
         <contextualLaunch>
            <contextLabel
                  label="Run Equinox Application Profile"
                  mode="run">
            </contextLabel>
            <enablement>
               <reference
                     definitionId="org.eclipse.scada.da.server.ui.launcher.profile">
               </reference>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
