<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.scada.configuration.world.lib.generator">
      <nodeElementProcessor
            factoryClass="org.eclipse.scada.configuration.driver.parser.lib.ParserDriverProcessorFactory"
            forClass="org.eclipse.scada.configuration.driver.parser.ParserDriver">
      </nodeElementProcessor>
   </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.scada.configuration.driver.parser.ParserComponentHost"
           class="org.eclipse.scada.configuration.driver.parser.lib.AdapterFactoryImpl">
        <adapter
              type="org.eclipse.scada.configuration.infrastructure.lib.DriverHandler">
        </adapter>
     </factory>
  </extension>
</plugin>
