<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.scada.configuration.world.lib.generator">
      <oscarProcessor
            class="org.eclipse.neoscada.configuration.iec60870.lib.ExporterProcessor">
      </oscarProcessor>
   </extension>
   
     <extension
         point="org.eclipse.scada.configuration.world.lib.generator">
      <nodeElementProcessor
            factoryClass="org.eclipse.neoscada.configuration.iec60870.lib.hive.DriverProcessorFactory"
            forClass="org.eclipse.neoscada.configuration.iec60870.DriverApplication">
      </nodeElementProcessor>
   </extension>
   
  <extension
        point="org.eclipse.core.runtime.adapters">
  	<factory
         adaptableType="org.eclipse.neoscada.configuration.iec60870.ExporterItemInterceptor"
         class="org.eclipse.neoscada.configuration.iec60870.lib.InterceptorAdapterFactory">
      <adapter
            type="org.eclipse.scada.configuration.component.lib.ItemInterceptorHandler">
      </adapter>
   </factory>
   <factory
         adaptableType="org.eclipse.neoscada.configuration.iec60870.IEC60870Driver"
         class="org.eclipse.neoscada.configuration.iec60870.lib.hive.DriverAdapterFactoryImpl">
      <adapter
            type="org.eclipse.scada.configuration.infrastructure.lib.DriverHandler">
      </adapter>
   </factory>
        
  </extension>
</plugin>
