<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.scada.releng.p2.to.maven.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scada.releng.p2.to.maven.app"
            name="P2 to Maven Converter">
         <property
               name="appName"
               value="P2 to Maven Converter">
         </property>
      </product>
   </extension>

</plugin>
