Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: armhf
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: [[description]]
Distribution: development
Depends: oracle-java7-jdk