<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="generator" name="generator" schema="schema/generator.exsd"/>
   <extension
         point="org.eclipse.scada.configuration.world.lib.generator">
      <nodeElementProcessor
            factoryClass="org.eclipse.scada.configuration.world.lib.internal.DefaultNodeElementProcessorFactoryImpl">
         <forClass
               class="org.eclipse.scada.configuration.world.osgi.MasterServer">
         </forClass>
         <forClass
               class="org.eclipse.scada.configuration.world.osgi.ValueArchiveServer">
         </forClass>
         <forClass
               class="org.eclipse.scada.configuration.world.osgi.DefaultEquinoxApplication">
         </forClass>
         <forClass
               class="org.eclipse.scada.configuration.world.ExecDriver">
         </forClass>
         <forClass
               class="org.eclipse.scada.configuration.world.deployment.RedhatDeploymentMechanism">
         </forClass>
         <forClass
               class="org.eclipse.scada.configuration.world.deployment.DebianDeploymentMechanism">
         </forClass>
         <forClass
               class="org.eclipse.scada.configuration.world.deployment.MsiDeploymentMechanism">
         </forClass>
      </nodeElementProcessor>
   </extension>
   <extension
         point="org.eclipse.scada.configuration.world.lib.generator">
      <oscarProcessor
            class="org.eclipse.scada.configuration.world.lib.oscar.RestExporterProcessor">
      </oscarProcessor>
      <oscarProcessor
            class="org.eclipse.scada.configuration.world.lib.oscar.HttpServiceProcessor">
      </oscarProcessor>
      <oscarProcessor
            class="org.eclipse.scada.configuration.world.lib.oscar.TelnetConsoleProcessor">
      </oscarProcessor>
      <oscarProcessor
            class="org.eclipse.scada.configuration.world.lib.oscar.ProfileConfigurationProcessor">
      </oscarProcessor>
      <oscarProcessor
            class="org.eclipse.scada.configuration.world.lib.oscar.EventInjectorSyslogProcessor">
      </oscarProcessor>
      <oscarProcessor
            class="org.eclipse.scada.configuration.world.lib.oscar.event.EventInjectorManagerProcessor">
      </oscarProcessor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.scada.configuration.world.setup.SubContainerModule"
            class="org.eclipse.scada.configuration.world.lib.setup.AdapterFactoryImpl">
         <adapter
               type="org.eclipse.scada.configuration.world.lib.setup.SetupModuleHandler">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.scada.configuration.world.osgi.DefaultStorageHandler"
            class="org.eclipse.scada.configuration.world.lib.oscar.event.AdapterFactoryImpl">
         <adapter
               type="org.eclipse.scada.configuration.world.lib.oscar.event.EventHandlerProcessor">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.scada.configuration.world.osgi.MailEventHandler"
            class="org.eclipse.scada.configuration.world.lib.oscar.event.AdapterFactoryImpl">
         <adapter
               type="org.eclipse.scada.configuration.world.lib.oscar.event.EventHandlerProcessor">
         </adapter>
      </factory>
   </extension>

</plugin>
