<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.scada.configuration.security.presentation.SecurityModelWizardID"
            name="%_UI_SecurityModelWizard_label"
            class="org.eclipse.scada.configuration.security.presentation.SecurityModelWizard"
            category="org.eclipse.scada.configuration/org.eclipse.scada.configuration.models"
            icon="icons/full/obj16/file.png">
         <description>%_UI_SecurityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.scada.configuration.security.presentation.SecurityEditorID"
            name="%_UI_SecurityEditor_label"
            icon="icons/full/obj16/file.png"
            extensions="security"
            class="org.eclipse.scada.configuration.security.presentation.SecurityEditor"
            contributorClass="org.eclipse.scada.configuration.security.presentation.SecurityActionBarContributor">
      </editor>
   </extension>

</plugin>
