<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scada.core.ui.connection.discoverer">
      <discoverer
            class="org.eclipse.scada.core.ui.connection.discoverer.ecf.ConnectionDiscovererImpl"
            icon="icons/agent_obj.gif"
            id="org.eclipse.scada.core.ui.connection.discoverer.ecf.discoverer"
            name="Dynamic Service Discovery (ECF)">
      </discoverer>
   </extension>

</plugin>
