<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="styleGenerator" name="%extension-point.styleGenerator.name" schema="schema/styleGenerator.exsd"/>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.scada.alarming.theme"
            label="%themeElementCategory.alarming.label"
            parentId="org.eclipse.scada.theme">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.disconnected.bg"
            isEditable="true"
            label="%colorDefinition.disconnected.bg.label"
            value="233,88,254">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.error.bg"
            isEditable="true"
            label="%colorDefinition.error.bg.label"
            value="233,88,254">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.alarm.bg"
            isEditable="true"
            label="%colorDefinition.alarm.bg.label"
            value="235,53,37">
        </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.warning.bg"
            isEditable="true"
            label="%colorDefinition.warning.bg.label"
            value="255,222,0">
        </colorDefinition>
          <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.manual.bg"
            isEditable="true"
            label="%colorDefinition.manual.bg.label"
            value="100,149,237">
          </colorDefinition>          
          <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.block.bg"
            isEditable="true"
            label="%colorDefinition.block.bg.label"
            value="255,255,255">
          </colorDefinition>          
          <colorDefinition
            categoryId="org.eclipse.scada.alarming.theme"
            id="org.eclipse.scada.core.ui.styles.alarming.block.fg"
            isEditable="true"
            label="%colorDefinition.block.fg.label"
            value="0,0,0">
        </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.scada.core.ui.styles.styleGenerator">
      <styleGenerator
            generatorClass="org.eclipse.scada.core.ui.styles.generator.DefaultStyleGenerator"
            id="org.eclipse.scada.core.ui.styles.defaultStyleGenerator"
            name="%styleGenerator.default.name">
         <description>
            %styleGenerator.default.description
         </description>
      </styleGenerator>
      <styleGenerator
            generatorClass="org.eclipse.scada.core.ui.styles.generator.AlarmFirstStyleGenerator"
            id="org.eclipse.scada.core.ui.styles.alarmFirst"
            name="%styleGenerator.alarmFirst.name">
         <description>
            %styleGenerator.alarmFirst.description
         </description>
      </styleGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.scada.core.ui.preferences"
            class="org.eclipse.scada.core.ui.styles.preferences.StylePreferencePage"
            id="org.eclipse.scada.core.ui.styles.preferences.StylePreferencePage"
            name="%page.style.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.scada.core.ui.styles.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
