Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: org.eclipse.scada, org.eclipse.scada.external.p2-incubation, org.eclipse.scada.utils.p2-incubation, org.eclipse.scada.base.p2-incubation, org.eclipse.scada.protocols.p2-incubation, org.eclipse.scada.core.p2-incubation  
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse SCADA P2 Repository - [[artifactId]]
Distribution: development