<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
       <factory
            adaptableType="org.eclipse.scada.configuration.component.ConstantValue"
            class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
         <adapter
               type="org.eclipse.scada.configuration.generator.Generator">
         </adapter>
      </factory>
       <factory
            adaptableType="org.eclipse.scada.configuration.component.PersistentValue"
            class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
         <adapter
               type="org.eclipse.scada.configuration.generator.Generator">
         </adapter>
      </factory>
    <factory
            adaptableType="org.eclipse.scada.configuration.component.TransientValue"
            class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
         <adapter
               type="org.eclipse.scada.configuration.generator.Generator">
         </adapter>
      </factory>
       <factory
            adaptableType="org.eclipse.scada.configuration.component.ExternalValue"
            class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
         <adapter
               type="org.eclipse.scada.configuration.generator.Generator">
         </adapter>
      </factory>
        <factory
             adaptableType="org.eclipse.scada.configuration.component.DriverConnectionAnalyzer"
             class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.generator.Generator">
          </adapter>
       </factory>
       <factory
             adaptableType="org.eclipse.scada.configuration.component.MasterImportConnectionAnalyzer"
             class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.generator.Generator">
          </adapter>
       </factory>
         <factory
             adaptableType="org.eclipse.scada.configuration.component.DataMapperAnalyzer"
             class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.generator.Generator">
          </adapter>
       </factory>
        <factory
             adaptableType="org.eclipse.scada.configuration.component.DataMapperService"
             class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.generator.Generator">
          </adapter>
       </factory>
        <factory
             adaptableType="org.eclipse.scada.configuration.component.MappedSourceValue"
             class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.generator.Generator">
          </adapter>
       </factory>
        <factory
             adaptableType="org.eclipse.scada.configuration.component.GlobalizeComponent"
             class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.generator.Generator">
          </adapter>
       </factory>
        <factory
              adaptableType="org.eclipse.scada.configuration.component.BufferedValue"
              class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
           <adapter
                 type="org.eclipse.scada.configuration.generator.Generator">
           </adapter>
        </factory>
        <factory
              adaptableType="org.eclipse.scada.configuration.component.ChangeCounter"
              class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
           <adapter
                 type="org.eclipse.scada.configuration.generator.Generator">
           </adapter>
        </factory>
        <factory
              adaptableType="org.eclipse.scada.configuration.component.DeltaValue"
              class="org.eclipse.scada.configuration.component.generator.internal.GeneratorAdapterFactory">
           <adapter
                 type="org.eclipse.scada.configuration.generator.Generator">
           </adapter>
        </factory>
   	<factory
         adaptableType="org.eclipse.scada.configuration.component.RestInterceptor"
         class="org.eclipse.scada.configuration.component.generator.internal.InterceptorAdapterFactory">
          <adapter
                type="org.eclipse.scada.configuration.component.lib.ItemInterceptorHandler">
          </adapter>
       </factory>
   </extension>
   <extension
         point="org.eclipse.scada.configuration.generator.component.generator">
      <factory
            class="org.eclipse.scada.configuration.component.generator.calc.CommonCalculationsFactory">
         <generateForType
               class="org.eclipse.scada.configuration.component.CalculationComponent">
         </generateForType>
      </factory>
   </extension>

</plugin>
