<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="targets/es012.target"
            id="org.eclipse.scada.configuration.ui.pde.target.es012"
            name="Eclipse SCADA 0.1.2 Server Runtime">
      </target>
      <target
            definition="targets/es013.target"
            id="org.eclipse.scada.configuration.ui.pde.target.es013"
            name="Eclipse SCADA 0.1.3 Server Runtime">
      </target>
      <target
            definition="targets/es020m3.target"
            id="org.eclipse.scada.configuration.ui.pde.target.es020m3"
            name="Eclipse SCADA 0.2.0.M3 Server Runtime (milestone)">
      </target>
   </extension>

</plugin>
