<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VisualInterface -->
      <package
            uri="http://eclipse.org/SCADA/VisualInterface"
            class="org.eclipse.scada.vi.model.VisualInterfacePackage"
            genModel="model/VisualInterface.genmodel"/>
   </extension>

</plugin>
