Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: neoscada.common
Conflicts: org.eclipse.ecf.sdk-3.6.1
Replaces: org.eclipse.ecf.sdk-3.6.1
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse NeoSCADA repack of [[artifactId]]
Distribution: development