Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: org.eclipse.scada.p2
Conflicts: emf-xsd-Update-2.9.0, emf-xsd-Update-2.9.2
Replaces: emf-xsd-Update-2.9.0, emf-xsd-Update-2.9.2
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse NeoSCADA repack of [[artifactId]]
Distribution: development