<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.scada.ae.ui.connection.navigator.ConnectionContentProvider"
            id="org.eclipse.scada.ae.ui.connection.provider"
            labelProvider="org.eclipse.scada.ae.ui.connection.navigator.ConnectionLabelProvider"
            name="%navigatorContent.ae.name"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.scada.core.ui.connection.data.ConnectionHolder">
                  </instanceof>
                  <test
                        property="org.eclipse.scada.core.ui.connection.data.ConnectionHolder.interfaceName"
                        value="ae">
                  </test>
               </and>
               <instanceof
                     value="org.eclipse.scada.ae.ui.connection.data.BrowserEntryBean">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.scada.ae.ui.connection.data.BrowserEntryBean">
               </instanceof>
            </or></possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scada.ae.ui.connection.commands.AknHandler"
            commandId="org.eclipse.scada.ae.ui.connection.command.aknowledge">
            
         <enabledWhen>
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <instanceof
                        value="org.eclipse.scada.ae.ui.connection.data.MonitorStatusBean">
                  </instanceof>
                  <adapt
                        type="org.eclipse.scada.ae.ui.connection.data.MonitorStatusBean">
                  </adapt>
               </iterate>
            </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.scada.ae.ui.testing.views.MonitorsView">
         <command
               commandId="org.eclipse.scada.ae.ui.connection.command.aknowledge"
               label="%command.akn.label"
               style="push">
               <!--
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
               </iterate>
            </visibleWhen>
            -->
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.scada.ae.ui.category"
            id="org.eclipse.scada.ae.ui.connection.command.aknowledge"
            name="%command.akn.name">
      </command>
      <category
            description="Eclipse SCADA AE"
            id="org.eclipse.scada.ae.ui.category"
            name="AE">
      </category>
   </extension>

</plugin>
