<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.scada.configuration.infrastructure.lib.driver">
      <driverFactory
            factoryClass="org.eclipse.scada.configuration.dave.lib.DriverFactoryImpl"
            typeId="org.eclipse.scada.da.server.dave">
      </driverFactory>
   </extension>
      <extension
         point="org.eclipse.scada.configuration.world.lib.generator">
      <nodeElementProcessor
            factoryClass="org.eclipse.scada.configuration.dave.lib.DaveDriverProcessorFactory"
            forClass="org.eclipse.scada.configuration.dave.DaveDriver">
      </nodeElementProcessor>
   </extension>

</plugin>
