<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.scada.configuration"
            class="org.eclipse.scada.configuration.ui.project.wizard.NewProjectWizard"
            icon="icons/es_icon_16.png"
            id="org.eclipse.scada.configuration.ui.project.NewProjectWizard"
            name="%wizard.newProject.name"
            project="true">
         <description>
            %wizard.newProject.description
         </description>
      </wizard>
   </extension>
   <extension
         id="configuration"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.scada.configuration.ui.project.nature.ConfigurationProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder"
         name="%extension.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.scada.configuration.ui.project.builder.ProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.pde.ui.newExtension">
      <category
            id="org.eclipse.scada.configuration.ui.project.templates"
            name="%category.newExtension.scada.name">
      </category>
      <wizard
            category="org.eclipse.scada.configuration.ui.project.templates"
            icon="icons/dashboard--plus.png"
            id="org.eclipse.scada.configuration.ui.project.detailViewWizard"
            name="%wizard.detailView.name"
            template="org.eclipse.scada.configuration.ui.project.detailView">
      </wizard>
      <wizard
            category="org.eclipse.scada.configuration.ui.project.templates"
            icon="icons/plug--plus.png"
            id="org.eclipse.scada.configuration.ui.project.connectionContextWizard"
            name="Connection Context"
            template="org.eclipse.scada.configuration.ui.project.connectionContext">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.scada.configuration.ui.project.template.PluginContentWizard"
            icon="icons/new_client.gif"
            id="org.eclipse.scada.configuration.ui.project.configurationWizard"
            java="true"
            name="%wizard.clientConfiguration.name."
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
         <description>
            %pluginContent.client.description
         </description>
      </wizard>
      <wizard
            class="org.eclipse.scada.configuration.ui.project.template.ClientAppContentWizard"
            icon="icons/new_client.gif"
            id="org.eclipse.scada.configuration.ui.project.appWizard"
            java="true"
            name="Eclipse NeoSCADA Client Application"
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="true">
         <description>
            Create a full client application.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="org.eclipse.scada.configuration.ui.project.template.DetailViewTemplate"
            contributingId="org.eclipse.scada.vi.details.detailView"
            icon="icons/dashboard--plus.png"
            id="org.eclipse.scada.configuration.ui.project.detailView"
            name="%template.detailView.name">
      </template>
      <template
            class="org.eclipse.scada.configuration.ui.project.template.ConnectionContextTemplate"
            contributingId="org.eclipse.core.expressions.definitions"
            icon="icons/plug--plus.png"
            id="org.eclipse.scada.configuration.ui.project.connectionContext"
            name="Connection Context">
      </template>
   </extension>
</plugin>
