<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/app/icon.ico">
         <run
               class="org.eclipse.scada.hmi.app.adminclient.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scada.hmi.app.adminclient.app.Perspective"
            icon="icons/nav_home.gif"
            id="org.eclipse.scada.hmi.app.adminclient.app.perspective.perspective"
            name="%perspective.home.name">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scada.hmi.adminclient.app.application"
            name="%product.name">
         <property
               name="windowImages"
               value="icons/app/icon_16px.png,icons/app/icon_32px.png,icons/app/icon_48px.png,icons/app/icon_64px.png,icons/app/icon_128px.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      	<property
            name="introTitle"
            value="Welcome to the Eclipse SCADA Admin Client"/>
         <property
               name="introBrandingImage"
               value="product:branding/about.png"/>
          <property
       	       name="introBrandingImageText"
               value="Eclipse SCADA Admin Client"/>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="branding/about.png">
       </property>
         <property
               name="appName"
               value="Eclipse SCADA Admin Client (Incubation)">
         </property>
 		<property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
         <property
               name="startupForegroundColor"
               value="646464">
         </property>
         <property
               name="startupMessageRect"
               value="5,5,450,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
      </product>
   </extension>
   
	<extension
		point="org.eclipse.ui.intro">
  <introProductBinding
        introId="org.eclipse.ui.intro.universal"
        productId="org.eclipse.scada.hmi.adminclient.app.product">
  </introProductBinding>
	</extension>
	
	   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="org.eclipse.scada.hmi.adminclient.app.introCustomization"
            name="%intra.page.name">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>
    <extension
          point="org.eclipse.ui.intro.configExtension">
       <configExtension
             configId="org.eclipse.ui.intro.universalConfig"
             content="intro/overview.xml">
       </configExtension>
       <configExtension
             configId="org.eclipse.ui.intro.universalConfig"
             content="intro/whatsnew.xml">
       </configExtension>
       <configExtension
             configId="org.eclipse.ui.intro.universalConfig"
             content="intro/migrate.xml">
       </configExtension>
    </extension>
    
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scada.hmi.app.adminclient.app.pers.DefaultPerspective"
            icon="icons/releng_gears.gif"
            id="org.eclipse.scada.ae.ui.perspectives.perspective"
            name="%perspective.ae.name">
      </perspective>
   </extension>
   
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.eclipse.scada.ae.ui.perspectives.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.scada.ae.ui.perspectives.perspective">
         <view
               closeable="true"
               id="org.eclipse.scada.core.ui.connection.ConnectionView"
               minimized="false"
               moveable="true"
               ratio="0.35"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scada.hmi.app.adminclient.app.pers.CAPerspectiveFactory"
            icon="icons/ca_perspective.gif"
            id="org.eclipse.scada.ca.ui.perspectives.perspective"
            name="CA">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.eclipse.scada.ca.ui.perspectives.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.scada.ca.ui.perspectives.perspective">
         <view
               closeable="true"
               id="org.eclipse.scada.core.ui.connection.ConnectionView"
               minimized="false"
               moveable="true"
               ratio="0.35"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.eclipse.scada.da.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.scada.da.ui.perspective">
         <view
               closeable="true"
               id="org.eclipse.scada.core.ui.connection.ConnectionView"
               minimized="false"
               moveable="true"
               ratio="0.35"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="org.eclipse.scada.da.test.views.RealTimeList"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.scada.da.test.views.RealTimeList"
               visible="true">
         </view>         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scada.hmi.app.adminclient.app.pers.DefaultPerspective"
            icon="icons/da_perspective.gif"
            id="org.eclipse.scada.da.ui.perspective"
            name="DA">
      </perspective>
   </extension>
   
</plugin>
