<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/app/icon.ico">
         <run
               class="org.eclipse.scada.hmi.app.adminclient.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Administration Perspective"
            class="org.eclipse.scada.hmi.app.adminclient.app.Perspective"
            id="org.eclipse.scada.hmi.app.adminclient.app.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scada.hmi.app.adminclient.app.application"
            name="Eclipse SCADA Admin Client">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introBrandingImage"
               value="product:branding/about.png"/>
          <property
       	       name="introBrandingImageText"
               value="Eclipse SCADA Admin Client"/>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="branding/about.png">
       </property>
      </product>
   </extension>
   
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="menu:file">
		</menuContribution>
	</extension>

	<extension
		point="org.eclipse.ui.intro">
  <intro
        class="org.eclipse.ui.intro.config.CustomizableIntroPart"
        id="org.eclipse.scada.hmi.adminclient.app.intro">
  </intro>
  <introProductBinding
        introId="org.eclipse.scada.hmi.adminclient.app.intro"
        productId="org.eclipse.scada.hmi.adminclient.app.product">
  </introProductBinding>
	</extension>
 <extension
       point="org.eclipse.ui.intro.config">
    <config
          content="introContent.xml"
          id="org.eclipse.scada.hmi.adminclient.app.introConfigId"
          introId="org.eclipse.scada.hmi.adminclient.app.intro">
       <presentation
             home-page-id="root">
          <implementation
                kind="html"
                os="win32,linux,macosx"
                style="content/shared.css">
          </implementation>
       </presentation>
    </config>
 </extension>

</plugin>
