<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.scada.hmi.app.adminclient.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Administration Perspective"
            class="org.eclipse.scada.hmi.app.adminclient.app.Perspective"
            id="org.eclipse.scada.hmi.app.adminclient.app.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scada.hmi.app.adminclient.app.application"
            name="Eclipse SCADA Admin Client">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>

</plugin>
