Source: org.eclipse.scada
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=8), cdbs (>=0.4.100)

Package: org.eclipse.scada
Architecture: all
Depends: ${misc:Depends}, java7-runtime-headless, adduser, ${perl:Depends}, perl (>=5.0)
Description: Eclipse SCADA base package
 The base Eclipse SCADA package
 
Package: org.eclipse.scada-p2
Architecture: all
Depends: ${misc:Depends}, org.eclipse.scada, org.eclipse.scada.deploy.p2director-incubation, ${python:Depends}, python (>= 2.6)
Description: P2 deployment system for Eclipse SCADA
 A deployment system for P2/Equinox based application of
 the Eclipse SCADA system
