Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: org.eclipse.scada
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse SCADA P2 Repository - [[artifactId]]
Distribution: development
Depends: emf-xsd >= 2.9.2,
 equinox-SDK >= 4.3.2,
 gemini-dbaccess >= 1.1.0,
 org.eclipse.ecf.sdk >= 3.6.1,
 rap >= 2.2.0
