[Unit]
Description=Eclipse SCADA @@driverName@@ driver
After=network.target

[Service]
ExecStart=/usr/bin/scada.driver.@@driverName@@.launcher
StandardOutput=null
User=neoscada

[Install]
WantedBy=multi-user.target
