[Unit]
Description=Equinox application @@appName@@
After=network.target

[Service]
ExecStart=/usr/bin/scada.app.@@appName@@.launcher
StandardOutput=null
User=neoscada

[Install]
WantedBy=multi-user.target
