<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scada.sec.ui.providers.key">
      <factory
            class="org.eclipse.scada.sec.ui.providers.pkcs12.FactoryImpl"
            id="org.eclipse.scada.sec.provider.pkcs12"
            label="PKCS12">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.scada.sec.ui.providers"
            class="org.eclipse.scada.sec.ui.providers.pkcs12.PreferencePage"
            id="org.eclipse.scada.sec.ui.providers.pkcs12.page1"
            name="PKCS12">
      </page>
   </extension>

</plugin>
