<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scada.configuration.infrastructure.lib.driver">
      <driverFactory
            factoryClass="org.eclipse.scada.configuration.modbus.lib.DriverFactoryImpl"
            typeId="org.eclipse.scada.da.server.modbus">
      </driverFactory>
   </extension>
      <extension
         point="org.eclipse.scada.configuration.generator.world.generator">
      <nodeElementProcessor
            factoryClass="org.eclipse.scada.configuration.modbus.lib.ModbusDriverProcessorFactory"
            forClass="org.eclipse.scada.configuration.modbus.ModbusDriver">
      </nodeElementProcessor>
      <oscarProcessor
            class="org.eclipse.scada.configuration.modbus.lib.ModbusExporterProcessor">
      </oscarProcessor>
   </extension>
</plugin>
