<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jdbc -->
      <package
            uri="http://openscada.org/DA/JDBC/Configuration"
            class="org.eclipse.scada.da.jdbc.configuration.ConfigurationPackage"
            genModel="model/jdbc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated jdbc -->
      <parser
            type="configuration"
            class="org.eclipse.scada.da.jdbc.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri
               name="http://openscada.org/DA/JDBC/Configuration"
               uri="model/jdbc.xsd">
         </uri>
      </catalogContribution>
   </extension>

</plugin>
