<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jdbc -->
      <package
            uri="http://eclipse.org/SCADA/DA/JDBC/Configuration"
            class="org.eclipse.scada.da.server.jdbc.configuration.ConfigurationPackage"
            genModel="model/jdbc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated jdbc -->
      <parser
            type="configuration"
            class="org.eclipse.scada.da.server.jdbc.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>
</plugin>
