<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scada.core.ui.connection.discoverer">
      <discoverer
            class="org.eclipse.scada.core.ui.connection.discoverer.prefs.UserDiscoverer"
            description="%user.discoverer.description"
            icon="icons/user_obj.gif"
            id="org.eclipse.scada.core.ui.connection.discoverer.prefs.UserDiscoverer"
            name="%user.discoverer.name">
      </discoverer>
      <discoverer
            class="org.eclipse.scada.core.ui.connection.discoverer.prefs.SystemDiscoverer"
            description="%system.discoverer.description"
            icon="icons/console_view.gif"
            id="org.eclipse.scada.core.ui.connection.discoverer.prefs.SystemDiscoverer"
            name="%system.discoverer.name">
      </discoverer>
   </extension>

</plugin>
