<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Eclipse SCADA - Current" sequenceNumber="1414749145">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.scada.external.sdk.feature.group" version="0.2.0.v20140519-1028"/>
      <unit id="org.eclipse.scada.external.feature.group" version="0.2.0.v20140519-1028"/>
      <unit id="org.eclipse.scada.external.wrapper.feature.group" version="0.2.0.v20140722-1451"/>
      <unit id="org.eclipse.scada.external.orbit.feature.group" version="0.2.0.v20140911-0727"/>
      <unit id="org.eclipse.scada.utils.sdk.feature.group" version="0.2.0.v20141007-1231"/>
      <unit id="org.eclipse.scada.protocols.sdk.feature.group" version="0.2.0.v20141006-1510"/>
      <unit id="org.eclipse.scada.base.sdk.feature.group" version="0.2.0.v20141002-0851"/>
      <unit id="org.eclipse.scada.core.sdk.feature.group" version="0.2.0.v20141007-1308"/>
      <unit id="org.eclipse.scada.hmi.sdk.feature.group" version="0.2.0.v20140924-0800"/>
      <unit id="org.eclipse.scada.chart.sdk.feature.group" version="0.2.0.v20140723-0935"/>
      <repository location="http://download.eclipse.org/eclipsescada/updates/milestone/0.2"/>
    </location>
  </locations>
</target>
