Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: neoscada.common
Conflicts: equinox-SDK-R-KeplerSR2-201402211700
Replaces: equinox-SDK-R-KeplerSR2-201402211700
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse NeoSCADA repack of equinox-SDK
Distribution: development