<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modbus -->
      <package
            uri="http://eclipse.org/SCADA/Configuration/Modbus"
            class="org.eclipse.scada.configuration.modbus.ModbusPackage"
            genModel="model/modbus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated modbus -->
      <parser
            type="modbusConfiguration"
            class="org.eclipse.scada.configuration.modbus.util.ModbusResourceFactoryImpl"/>
   </extension>

</plugin>
