Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: i386
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: [[description]]
Distribution: development
Depends: java7-runtime-headless