<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.scada.configuration.component.tools.convert"
            id="org.eclipse.scada.configuration.component.tools.convertToExternal"
            name="Convert to External Value">
      </command>
      <category
            id="org.eclipse.scada.configuration.component.tools.convert"
            name="Convert">
      </category>
      <command
            categoryId="org.eclipse.scada.configuration.component.tools.modify"
            id="org.eclipse.scada.configuration.component.tools.setConnection"
            name="Set Connection">
      </command>
      <category
            id="org.eclipse.scada.configuration.component.tools.modify"
            name="Modify">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scada.configuration.component.tools.handler.ConvertToExternalHandler"
            commandId="org.eclipse.scada.configuration.component.tools.convertToExternal">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.scada.configuration.component.tools.convertToExternal">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.scada.configuration.component.tools.handler.SetConnectionHandler"
            commandId="org.eclipse.scada.configuration.component.tools.setConnection">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.eclipse.scada.configuration.tools.convert"
               label="Convert">
         </menu>
         <menu
               id="org.eclipse.scada.configuration.tools.modify"
               label="Modify">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.scada.configuration.tools.convert">
         <command
               commandId="org.eclipse.scada.configuration.component.tools.convertToExternal"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.scada.configuration.tools.modify">
         <command
               commandId="org.eclipse.scada.configuration.component.tools.setConnection"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.scada.configuration.component.tools.convertToExternal">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <adapt
                        type="org.eclipse.scada.configuration.component.SingleValue">
                  </adapt>
                  <instanceof
                        value="org.eclipse.scada.configuration.component.SingleValue">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.scada.configuration.component.tools.setConnection">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <adapt
                        type="org.eclipse.scada.configuration.component.ExternalValue">
                  </adapt>
                  <instanceof
                        value="org.eclipse.scada.configuration.component.ExternalValue">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
