<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exporter -->
      <package
            uri="http://openscada.org/DA/Server/Exporter"
            class="org.eclipse.scada.da.server.exporter.ExporterPackage"
            genModel="model/exporter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated exporter -->
      <parser
            type="xml"
            class="org.eclipse.scada.da.server.exporter.util.ExporterResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri
               name="http://openscada.org/DA/Server/Exporter"
               uri="model/exporter.xsd">
         </uri>
      </catalogContribution>
   </extension>

</plugin>
