<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Common -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.scada.common.presentation.CommonModelWizardID"
            name="%_UI_CommonModelWizard_label"
            class="org.eclipse.scada.common.presentation.CommonModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CommonModelFile.gif">
         <description>%_UI_CommonModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Common -->
      <editor
            id="org.eclipse.scada.common.presentation.CommonEditorID"
            name="%_UI_CommonEditor_label"
            icon="icons/full/obj16/CommonModelFile.gif"
            extensions="common"
            class="org.eclipse.scada.common.presentation.CommonEditor"
            contributorClass="org.eclipse.scada.common.presentation.CommonActionBarContributor">
      </editor>
   </extension>

</plugin>
