<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Common -->
      <package
            uri="http://openscada.org/Common"
            class="org.eclipse.scada.common.CommonPackage"
            genModel="model/Common.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Common -->
      <parser
            type="common"
            class="org.eclipse.scada.common.util.CommonResourceFactoryImpl"/>
   </extension>

</plugin>
