<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.scada.da.client.dataitem.details.DetailsViewPart" name="%extension-point.name" schema="schema/org.eclipse.scada.da.client.dataitem.details.DetailsViewPart.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.scada.da.ui.category"
            class="org.eclipse.scada.da.client.dataitem.details.DetailsViewPart"
            id="org.eclipse.scada.da.client.dataitem.details.DetailsViewPart"
            name="%view.dataItemDetails.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.scada.da.client.dataitem.details.objectContribution2"
            objectClass="org.eclipse.scada.da.ui.widgets.realtime.ListEntry">
         <action
               class="org.eclipse.scada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.eclipse.scada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.scada.da.client.dataitem.details.objectContribution3"
            objectClass="org.eclipse.scada.da.ui.connection.data.DataItemHolder">
         <action
               class="org.eclipse.scada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.eclipse.scada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.scada.da.client.dataitem.details.DetailsViewPart">
      <detailsPart
            class="org.eclipse.scada.da.client.dataitem.details.part.overview.OverviewDetailsPart"
            name="%detailsPart.overview.name"
            sortKey="0000">
      </detailsPart>
 <detailsPart
       class="org.eclipse.scada.da.client.dataitem.details.part.flags.FlagsDetailsPart"
       name="%detailsPart.flags.name"
       sortKey="0400">
 </detailsPart>
 <detailsPart
       class="org.eclipse.scada.da.client.dataitem.details.part.block.BlockDetailsPart"
       name="%detailsPart.blocking.name"
       sortKey="0503">
 </detailsPart>
 <detailsPart
       class="org.eclipse.scada.da.client.dataitem.details.part.attrs.AttributesPart"
       name="%detailsPart.attributes.name"
       sortKey="0420">
 </detailsPart>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scada.da.client.dataitem.details.commands.OpenDetailsView"
            commandId="org.eclipse.scada.da.client.dataitem.details.openDetails">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <adapt
                           type="org.eclipse.scada.da.ui.connection.data.Item">
                     </adapt>
                     <instanceof
                           value="org.eclipse.scada.da.ui.connection.data.Item">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.scada.da.client.dataitem.details.openDetailsDialog">
         <class
               class="org.eclipse.scada.da.client.dataitem.details.dialog.DefaultDialogHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.scada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.eclipse.scada.da.client.dataitem.details.openDetails"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <adapt
                           type="org.eclipse.scada.da.ui.connection.data.Item">
                     </adapt>
                     <instanceof
                           value="org.eclipse.scada.da.ui.connection.data.Item">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.scada.da.ui.category"
            id="org.eclipse.scada.da.client.dataitem.details.openDetails"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.scada.da.ui.category"
            description="%command.openDetails.description"
            id="org.eclipse.scada.da.client.dataitem.details.openDetailsDialog"
            name="%command.openDetails.name">
         <commandParameter
               id="org.eclipse.scada.da.client.dataitem.details.itemId"
               name="%commandParameter.openDetails.itemId.name"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.eclipse.scada.da.client.dataitem.details.connectionId"
               name="%commandParameter.openDetails.connectionId.name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.eclipse.scada.da.client.dataitem.details.connectionUri"
               name="%commandParameter.openDetails.connectionUri.name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.eclipse.scada.theme"
            id="org.eclipse.scada.da.client.dataitem.details.activeAttribute"
            isEditable="true"
            label="%colorDefinition.activeAttribute.label"
            value="0,0,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.scada.theme"
            id="org.eclipse.scada.da.client.dataitem.details.inactiveAttribute"
            isEditable="true"
            label="%colorDefinition.inactiveAttribute.label"
            value="128,128,128">
      </colorDefinition>
   </extension>

</plugin>
