<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.scada.ui.singleviewer.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="org.eclipse.scada.ui.singleviewer.app.Perspective"
            id="org.eclipse.scada.ui.singleViewer.app.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scada.ui.singleViewer.app.application"
            name="Eclipse SCADA Visual Interface (Incubating)">
         <property
               name="windowImages"
               value="icons/app/icon_16px.png,icons/app/icon_32px.png,icons/app/icon_48px.png,icons/app/icon_64px.png,icons/app/icon_128px.png">
         </property>
         <property
               name="introTitle"
               value="Welcome to the Eclipse SCADA Visual Interface"/>
         <property
               name="introBrandingImage"
               value="product:branding/about.png"/>
         <property
       	       name="introBrandingImageText"
               value="Eclipse SCADA Project"/>
         <property
               name="appName"
               value="Eclipse SCADA Visual Interface (Incubating)">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="branding/about.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="00519E">
         </property>
         <property
               name="startupMessageRect"
               value="18,30,264,49">
         </property>
         <property
               name="startupProgressRect"
               value="0,0,455,12">
         </property>
 		<property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.scada.ui.singleViewer.app.perspective">
         <view
               closeable="false"
               id="org.eclipse.scada.vi.ui.user.SingleVisualInterfaceView"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+Q">
      </key>
   </extension>
   <extension
      point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="menu:file">
	   </menuContribution>
   </extension>
   
   
       <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.scada.vi.client.default"
            name="Default">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.scada.vi.client.default"
            isEqualityPattern="false"
            pattern=".*\/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.scada.vi.client.default"
            isEqualityPattern="false"
            pattern=".*\/org.eclipse.ui.edit.text.delimiter\..*">
      </activityPatternBinding>
   </extension>
       <extension
             point="org.eclipse.ui.intro">
          <introProductBinding
                introId="org.eclipse.ui.intro.universal"
                productId="org.eclipse.scada.ui.singleViewer.app.product">
          </introProductBinding>
       </extension>
   
</plugin>
