<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.scada.configuration"
            id="org.eclipse.scada.configuration.ui.component.ShowComponentSpy"
            name="Show Component Output">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.scada.configuration.ui.component.ShowComponentSpy"
            commandId="org.eclipse.scada.configuration.ui.component.ShowComponentSpy">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.scada.configuration.component.Component">
                        </instanceof>
                        <adapt
                              type="org.eclipse.scada.configuration.component.Component">
                        </adapt>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.scada.configuration?after=additions">
         <command
               commandId="org.eclipse.scada.configuration.ui.component.ShowComponentSpy"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
