<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.scada.da.ui.category"
            name="%category.da.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.scada.da.ui.category"
            name="%category.da.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.scada.da.ui.category"
            name="%category.da.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.eclipse.scada.da.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.scada.da.ui.perspective">
         <view
               closeable="true"
               id="org.eclipse.scada.core.ui.connection.ConnectionView"
               minimized="false"
               moveable="true"
               ratio="0.35"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="org.eclipse.scada.da.test.views.RealTimeList"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scada.da.ui.PerspectiveFactory"
            icon="icons/perspective.gif"
            id="org.eclipse.scada.da.ui.perspective"
            name="DA">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
	<menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.eclipse.scada.da.ui"
               label="Eclipse SCADA DA">
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
   </extension>

</plugin>
