<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2013 IBH SYSTEMS GmbH.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     IBH SYSTEMS GmbH - initial API and implementation and/or initial documentation
 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
     <wizard
            id="org.eclipse.scada.configuration.memory.presentation.MemoryModelWizardID"
            name="%_UI_MemoryModelWizard_label"
            class="org.eclipse.scada.configuration.memory.presentation.MemoryModelWizard"
            category="org.eclipse.scada.configuration/org.eclipse.scada.configuration.models"
            icon="icons/full/obj16/MemoryModelFile.gif">
         <description>%_UI_MemoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <!-- @generated memory -->
      <editor
            id="org.eclipse.scada.configuration.memory.presentation.MemoryEditorID"
            name="%_UI_MemoryEditor_label"
            icon="icons/full/obj16/MemoryModelFile.gif"
            extensions="mtd"
            class="org.eclipse.scada.configuration.memory.presentation.MemoryEditor"
            contributorClass="org.eclipse.scada.configuration.memory.presentation.MemoryActionBarContributor">
      </editor>
   </extension>

</plugin>
