Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: neoscada.common, neoscada.external.p2, neoscada.utils.p2, neoscada.base.p2, neoscada.core.p2, neoscada.protocols.p2
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse NeoSCADA P2 Repository - [[artifactId]]
Distribution: development