<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>eclipse.scada</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>

			<pluginRepositories>
				<pluginRepository>
					<id>eclipse.scada</id>
					<name>Eclipse SCADA Repository</name>
					<url>https://repo.eclipse.org/content/groups/eclipsescada/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

</settings>