Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: neoscada.common
Conflicts: gemini-dbaccess-1.1.0.RELEASE
Replaces: gemini-dbaccess-1.1.0.RELEASE
Maintainer: Jens Reimann <jens.reimann@ibh-systems.com>
Description: Eclipse NeoSCADA repack of gemini-dbaccess
Distribution: development