Source: $$packageName$$
Section: misc
Priority: extra
Maintainer: $$authorName$$ <$$authorEmail$$>
Build-Depends: debhelper (>= 8.0.0), cdbs (>= 0.4.100)
Standards-Version: 3.9.3

Package: $$packageName$$
Architecture: all
Conflicts: org.openscada.drivers.common, org.openscada
Depends: ${shlibs:Depends}, ${misc:Depends}, $$depends$$
Description: Configuration package for $$nodeName$$
 This package contains all configuration for the node "$$nodeName$$".
