<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.scada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.eclipse.ui.file.import"
               label="%importerWizard.command.name"
               style="push">
            <parameter
                  name="importWizardId"
                  value="org.eclipse.scada.ca.ui.importer.wizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <or>
                           <instanceof
                                 value="org.eclipse.scada.core.connection.provider.ConnectionService">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.scada.core.connection.provider.ConnectionService">
                           </adapt>
                        </or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.scada.core.ui.connection.data.ConnectionHolder.interfaceName"
                              value="ca">
                        </test>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.scada.ca.ui.importer.category"
            class="org.eclipse.scada.ca.ui.importer.wizard.ImportWizard"
            id="org.eclipse.scada.ca.ui.importer.wizard"
            name="%importerWizard.wizard.name">
      </wizard>
      <category
            id="org.eclipse.scada.ca.ui.importer.category"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.scada.core.ui.preferences"
            class="org.eclipse.scada.ca.ui.importer.preferences.ImportPreferencePage"
            id="org.eclipse.scada.ca.ui.importer.preferences.ImportPreferencePage"
            name="Import Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.scada.ca.ui.importer.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
